html, body {
font-family: 'open Sans',Arial,sans-serif;
line-height: 1.5;
}  
#navbar {
  background-color: #eee;
  position: fixed;
  min-width: 290px;
  width: 300px;
  height: 100%;
  top: 0px;
  left: 0px;
  border: 1px solid;
  
}
#navbar a {
  text-decoration: none;
  color: #4d4e53;
}
#navbar li {
  list-style: none;
  padding: 15px;
  border-top: 1px;
  border-style: solid none none none;
   
}
#navbar ul {
  padding-left: 0;
  height:90%;
  overflow-y: auto;
  overflow-x: hidden;
}
#navbar ul a li:hover {
  background-color: #ccc;
}
#navbar header {
  text-align: center;
  padding-top: 20px;
  font-weight: bold;
}

/*Main Section */

.main-section{ 
  margin-left: 310px;
  padding: 20px;
}
.main-section2{ 
  margin-left: 310px;
  padding: 20px;
}
.main-section2 header {
  font-size: 1.8em;
}
.main-section header {
  font-size: 1.8em;
}
.main-section article {
  font-size: 0.96em;
}
thead {
  color: #c1c3c6;
  border-bottom: 2px solid #c1c3c6;
  font-size: 12px;
}
th, td {
  font-weight: 100;
  padding: 7px 40px 7px 0;
}
td {
  border-top: 1px solid #d9dadc;
}


/*Media querry */

@media only screen and (max-width: 815px) {
    /* For mobile phones: */

  #navbar {
  position: fixed;
  width: 100%;
  height:150px;
  overflow:hidden;
  top: 0px;
  text-align: center;  
  z-index: 1;
  padding-bottom: 10px;
  }
  #navbar li {
    padding: 0;
  }
  #navbar ul a:last-child li {
    padding-bottom: 35px;
  }
  
  #main-doc{   
  margin: 150px 0 0 0;
}
  .main-section {
    margin-left:0px;
  }
  .main-section2 {
    margin-left:0px;
  }

}
@media only screen and (max-width: 400px) {
  td {
    padding:0;
  }
